@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
html,
body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  background-color: hsl(0, 0%, 98%);
}

.day-mode {
  transition: all 1s ease-in-out;
  //| header
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem 4rem;
    @media screen and(max-width:700px) {
      position: sticky;
      top: 0;
      z-index: 10;
      padding: 1rem;
    }
    .logo {
      font-size: 1.5rem;
      color: hsl(200, 15%, 8%);
      text-decoration: none;
      @media screen and(max-width:700px) {
        font-size: 1rem;
      }
    }
    .theme {
      cursor: pointer;
      display: flex;
      align-items: center;
      .dark {
        height: 2rem;
      }
      span {
        font-size: 1rem;
        font-weight: 600;
        color: hsl(200, 15%, 8%);
      }
    }
  }

  //| utility
  main {
    padding: 1rem 0;
    position: relative;
    @media screen and(max-width:700px) {
      padding: 1rem;
    }
  }
  .utility {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    padding: 1rem 4rem;
    margin: 1rem 0;
    @media screen and(max-width:700px) {
      flex-flow: column;
      padding: 0;
      gap: 2rem;
    }
    .search {
      background-color: teal;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.123);
      @media screen and(max-width:700px) {
        flex: 1;
        flex-flow: row-reverse;
        label {
          flex: 1;
        }
      }
      button {
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: white;
        border: none;
        @media screen and(max-width:700px) {
          background-color: teal;
          border-radius: 0 5px 5px 0;
        }
      }
      .search-icon {
        height: 1.5rem;
        padding: 0 0.5rem;
      }
      input {
        height: 2.5rem;
        width: 20vw;
        border-radius: 0 5px 5px 0;
        border: none;
        padding: 0 1rem;
        font-weight: 600;
        color: hsl(0, 0%, 52%);
        @media screen and(max-width:700px) {
          width: 100%;
          border-radius: 0;
        }
      }
    }
    .choose select {
      padding: 0.5rem 1rem;
      font-weight: 600;
      width: 20vw;
      background-color: white;
      border: none;
      border-radius: 5px;
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.123);
      @media screen and(max-width:700px) {
        width: 50% !important;
        height: 2.5rem;
      }
      option {
        margin-top: 1rem;
        padding: 0.5rem;
        font-weight: 600;
        width: inherit;
      }
    }
  }
  .day {
    display: none;
    margin: 0 0.5rem;
    fill: whitesmoke;
  }

  //| Country Gallery
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 3rem 2rem;
    padding: 0 3rem;
    margin-top: 1.5rem;
    @media screen and(max-width:700px) {
      grid-template-columns: 1fr;
      margin-top: 3rem;
    }
    a {
      text-decoration: none;
      color: hsl(200, 15%, 8%);
    }
    .card {
      cursor: pointer;
      height: 17rem;
      aspect-ratio: 0.8;
      border-radius: 5px;
      padding: 0 0 0.4rem;
      overflow: hidden;
      box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.24);
      transition: all 0.2s ease-in-out;
      @media screen and(max-width:700px) {
        height: 20rem;
      }
      &:hover {
        transform: scale(1.07);
      }
      .flag {
        background-color: teal;
        height: 7rem;
        width: 100%;
        @media screen and(max-width:700px) {
          height: auto;
        }
      }
      .about {
        padding: 0.5rem 1rem;
        @media screen and(max-width:700px) {
          padding: 2rem !important;
        }
        h4 {
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 0.9rem;
          font-weight: 600;
          span {
            font-weight: initial;
          }
        }
      }
    }
  }

  //| Countries in detail

  .detail-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.438);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .detailed {
    position: absolute;
    left: 50%;
    padding: 5rem 4rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: white;
    border-radius: 5px;
    transform: translateX(-50%);
    @media screen and(max-width:700px) {
      height:100vh;    
      overflow-y: scroll;  
    }
    .back {
      cursor: pointer;
      align-self: flex-start;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      font-weight: 600;
      padding: 0.5rem 1.5rem;
      border: none;
      border-radius: 5px;
      background: hsl(0, 0%, 98%);
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.288);
      // background-color: red;
      img {
        height: 1.2rem;
        transform: rotate(180deg);
      }
    }
    .country-info {
      // background: teal;
      flex: 1;
      display: flex;
      align-items: center;
      gap: 6rem;
      padding: 1rem;
      margin-top: 4rem;
      @media screen and(max-width:700px) {
        flex-flow: column;
        margin: 0;
        gap: 0;
      }
      .flag {
        height: 20rem;
        aspect-ratio: 1;
        border-radius: 5px;
        object-fit: contain;  
        // @media screen and(max-width:700px) {
        //   height: 15rem;
        // }      
      }
      .about-country {
        .country-name {
          font-size: 1.5rem;
          font-weight: 800;
        }
        .statistics {
          display: flex;
          justify-content: space-between;
          gap: 5rem;
          margin: 1.5rem 0 2rem;
          @media screen and(max-width:700px) {
            flex-flow: column;
            gap: 1rem;
          }
          p {
            font-weight: 600;
            margin: 0.3rem 0;
            span {
              font-weight: initial;
            }
          }
        }
        .borders {
          display: flex;
          align-items: center;
          gap: 1rem;
          @media screen and(max-width:700px) {
            flex-flow: column;
            align-items: flex-start;
          }
          .b-text {
            font-size: 1rem;
            font-weight: 600;
          }
          .cons {
            span {
              border: 2px solid hsla(0, 0%, 52%, 0.5);
              border-radius: 5px;
              font-size: 0.8rem;
              font-weight: 600;
              padding: 0.2rem 1rem;
              line-height: 2.5rem;
            }
          }
        }
      }
    }
  }
}
// Dark Mode
.dark-mode {
  transition: all 1s ease-in-out;
  header {
    background: hsl(209, 23%, 22%);
    .logo,
    .theme span {
      color: whitesmoke;
    }
    .dark {
      fill: whitesmoke;
    }
  }
  main {
    background: hsl(200, 15%, 8%);
    .utility {
      .search,
      input {
        background-color: hsl(209, 23%, 22%);
        color: whitesmoke;
        .search-icon {
          fill: whitesmoke;
        }
      }
      .choose select {
        background: hsl(209, 23%, 22%);
        color: white;
      }
    }
  }
  .card {
    background-color: hsl(207, 26%, 17%);
    color: whitesmoke;
  }
  .detailed {
    background-color: hsl(207, 26%, 17%);
    color: white;
    .back{
      background: hsl(209, 23%, 22%);
       color: white;                
    }
  }
  .search button {
    background-color: black;
  }
}

//| additionals

.active {
  display: flex !important;
  opacity: 1 !important;
}
