@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

html,
body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #fafafa;
}

.day-mode {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.day-mode header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 1rem 4rem;
}

@media screen and (max-width: 700px) {
  .day-mode header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 1rem;
  }
}

.day-mode header .logo {
  font-size: 1.5rem;
  color: #111517;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .day-mode header .logo {
    font-size: 1rem;
  }
}

.day-mode header .theme {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.day-mode header .theme .dark {
  height: 2rem;
}

.day-mode header .theme span {
  font-size: 1rem;
  font-weight: 600;
  color: #111517;
}

.day-mode main {
  padding: 1rem 0;
  position: relative;
}

@media screen and (max-width: 700px) {
  .day-mode main {
    padding: 1rem;
  }
}

.day-mode .utility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 4rem;
  margin: 1rem 0;
}

@media screen and (max-width: 700px) {
  .day-mode .utility {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 0;
    gap: 2rem;
  }
}

.day-mode .utility .search {
  background-color: teal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.123);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.123);
}

@media screen and (max-width: 700px) {
  .day-mode .utility .search {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
  .day-mode .utility .search label {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.day-mode .utility .search button {
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

@media screen and (max-width: 700px) {
  .day-mode .utility .search button {
    background-color: teal;
    border-radius: 0 5px 5px 0;
  }
}

.day-mode .utility .search .search-icon {
  height: 1.5rem;
  padding: 0 0.5rem;
}

.day-mode .utility .search input {
  height: 2.5rem;
  width: 20vw;
  border-radius: 0 5px 5px 0;
  border: none;
  padding: 0 1rem;
  font-weight: 600;
  color: #858585;
}

@media screen and (max-width: 700px) {
  .day-mode .utility .search input {
    width: 100%;
    border-radius: 0;
  }
}

.day-mode .utility .choose select {
  padding: 0.5rem 1rem;
  font-weight: 600;
  width: 20vw;
  background-color: white;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.123);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.123);
}

@media screen and (max-width: 700px) {
  .day-mode .utility .choose select {
    width: 50% !important;
    height: 2.5rem;
  }
}

.day-mode .utility .choose select option {
  margin-top: 1rem;
  padding: 0.5rem;
  font-weight: 600;
  width: inherit;
}

.day-mode .day {
  display: none;
  margin: 0 0.5rem;
  fill: whitesmoke;
}

.day-mode .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 3rem 2rem;
  padding: 0 3rem;
  margin-top: 1.5rem;
}

@media screen and (max-width: 700px) {
  .day-mode .gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 3rem;
  }
}

.day-mode .gallery a {
  text-decoration: none;
  color: #111517;
}

.day-mode .gallery .card {
  cursor: pointer;
  height: 17rem;
  aspect-ratio: 0.8;
  border-radius: 5px;
  padding: 0 0 0.4rem;
  overflow: hidden;
  -webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.24);
          box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 700px) {
  .day-mode .gallery .card {
    height: 20rem;
  }
}

.day-mode .gallery .card:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.day-mode .gallery .card .flag {
  background-color: teal;
  height: 7rem;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .day-mode .gallery .card .flag {
    height: auto;
  }
}

.day-mode .gallery .card .about {
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 700px) {
  .day-mode .gallery .card .about {
    padding: 2rem !important;
  }
}

.day-mode .gallery .card .about h1 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.day-mode .gallery .card .about p {
  font-size: 0.9rem;
  font-weight: 600;
}

.day-mode .gallery .card .about p span {
  font-weight: initial;
}

.day-mode .detail-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.438);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.day-mode .detailed {
  position: absolute;
  left: 50%;
  padding: 5rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 700px) {
  .day-mode .detailed {
    height: 100vh;
    overflow-y: scroll;
  }
}

.day-mode .detailed .back {
  cursor: pointer;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  background: #fafafa;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.288);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.288);
}

.day-mode .detailed .back img {
  height: 1.2rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.day-mode .detailed .country-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
  padding: 1rem;
  margin-top: 4rem;
}

@media screen and (max-width: 700px) {
  .day-mode .detailed .country-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0;
    gap: 0;
  }
}

.day-mode .detailed .country-info .flag {
  height: 20rem;
  aspect-ratio: 1;
  border-radius: 5px;
  -o-object-fit: contain;
     object-fit: contain;
}

.day-mode .detailed .country-info .about-country .country-name {
  font-size: 1.5rem;
  font-weight: 800;
}

.day-mode .detailed .country-info .about-country .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
  margin: 1.5rem 0 2rem;
}

@media screen and (max-width: 700px) {
  .day-mode .detailed .country-info .about-country .statistics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 1rem;
  }
}

.day-mode .detailed .country-info .about-country .statistics p {
  font-weight: 600;
  margin: 0.3rem 0;
}

.day-mode .detailed .country-info .about-country .statistics p span {
  font-weight: initial;
}

.day-mode .detailed .country-info .about-country .borders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 700px) {
  .day-mode .detailed .country-info .about-country .borders {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.day-mode .detailed .country-info .about-country .borders .b-text {
  font-size: 1rem;
  font-weight: 600;
}

.day-mode .detailed .country-info .about-country .borders .cons span {
  border: 2px solid rgba(133, 133, 133, 0.5);
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.2rem 1rem;
  line-height: 2.5rem;
}

.dark-mode {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.dark-mode header {
  background: #2b3945;
}

.dark-mode header .logo,
.dark-mode header .theme span {
  color: whitesmoke;
}

.dark-mode header .dark {
  fill: whitesmoke;
}

.dark-mode main {
  background: #111517;
}

.dark-mode main .utility .search,
.dark-mode main .utility input {
  background-color: #2b3945;
  color: whitesmoke;
}

.dark-mode main .utility .search .search-icon,
.dark-mode main .utility input .search-icon {
  fill: whitesmoke;
}

.dark-mode main .utility .choose select {
  background: #2b3945;
  color: white;
}

.dark-mode .card {
  background-color: #202c37;
  color: whitesmoke;
}

.dark-mode .detailed {
  background-color: #202c37;
  color: white;
}

.dark-mode .detailed .back {
  background: #2b3945;
  color: white;
}

.dark-mode .search button {
  background-color: black;
}

.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 1 !important;
}
/*# sourceMappingURL=style.css.map */